details, summary {
  display: inline;
  vertical-align: super;
  font-size: 0.75em;
}
details[open] {
  display: contents;
}
details[open]::before {
  content: " [";
}
details[open]::after {
  content: "]";
}
summary {
  cursor: pointer;
}
