<style>

article {
  padding: 1em 4em;
  max-width: 30em;
  margin: 0 auto;
  counter-reset: noteNum;
}

article sidenote notetext {
    background: #fffee8;
    border: solid 1px #333;
    border-width: 1px 0;
    float: right;
    clear: right;
    display: inline-block;
    margin: 0.25rem -5rem 0.75rem 1rem;
    padding: 0.25rem 0.5rem;
    width: 8rem;
}

article sidenote notetext::before {
    counter-increment: noteNum;
    content: "Note " counter(noteNum) ": ";
    padding-right: 0.2em;
    font-style: italic;
}

article sidenote::after {
    vertical-align: super;
    font-size: 0.6em;
    display: inline;
    margin-left: 0.2em;
    width: 1rem;
    content: counter(noteNum) "";
}

</style>
