p input {
  display: none;
}

/* Sup text */
p input + label {
  font: 0.7em / 1 system-ui, sans-serif;
  vertical-align: super;
  cursor: pointer;
  transition: color .1s;
}

p input + label:before {
  content: "[";
}

p input + label:after {
  content: "]";
}

p input + label:hover {
  color: #fd5324;
}

/* Footnote text */

p input + label + small {
  transition: opacity 0.2s 0.05s;
  font-size:.85em;
  font-family: IBM Plex Sans, sans-serif;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

p input:checked + label + small {
  position: relative;
  opacity: 1;
  visibility: visible;
}

/******* Flavors *******/

/* inline reveal */
p.inline input:checked + label + small {
  margin: 0 0.1em;
  opacity: 1;
  color: #fd5324;
}

/* block reveal */
p.block input:checked + label + small {
  display: block;
  opacity: 1;
  padding: 2ch 3ch;
}

/* hover reveal */

p.hover input + label + small,
p.hover input:checked + label + small {
  display: none;
}

p.hover input + label:hover + small {
  z-index:1;
  position: absolute;
  display: block;
  opacity:1;
  visibility: visible;
  padding: 0.3em 0.7em 0.4em;
  border-bottom: 1px;
  right: 2ch;
  left: 2ch;
  background: #ffc;
  box-shadow: 0 0 .5em rgba(0,0,0,.1);
  border-radius: 4px;
  pointer-events: none;
}


<!-- Tufte CSS style footnotes, minimum viable markup. Probably not accessible at all:

<input id="fn1" type="checkbox">
<label for="fn1">1</label>
<small>Footnote text</small>

source: https://codepen.io/daars/pen/dyXaGdy

-->
